<p>Добро пожаловать в библиотеку!</p>
<p>Библиоте́ка (греч. βιβλίον, книга + θήκη, хранилище, вместилище, ящик) — учреждение, собирающее и хранящее произведения печати и письменности для общественного пользования,
     а также осуществляющее справочно-библиографическую работу. 
     В настоящее время всё более распространяются и входят в фонд библиотеки микрофиши, микрофильмы, диапозитивы, аудио и видеокассеты, 
     также всё более широкое распространение получают электронные носители (CD-ROM, DVD-ROM).</p>
