<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Главная </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" routerLink="/book">Книги </a>
      <li class="nav-item active">
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" routerLink="/author">Авторы </a>
      </div>
      <li class="nav-item active">
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/collection">Коллекции </a>
        </div>
    </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/info">О сайте </a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>