@import "config.less";
@color-gray_light: #cbe2fdfb; 
body {
   background: @color-gray_light;
   background-image: url("/assets/images/im.jpg");
   background-size: 100%;
}

a {
   font-size: 14pt;
}

nav {
  margin: 0px auto 0;
  width: 605px;
  height: 45px;
  .border;
  .shadow;
    ul {
      padding: 0;
      margin: 0;
      li {
        display: inline;
        a {
          text-decoration: none;
          float: left;
          width: px;
          height: 45px;
          text-align: center;
          line-height: 45px;
          .textcolor(#000000); // You can change this line
          .divider;
          .gradient;
          &:hover {
            .hovereffect;
          }
        }
      }
      li:first-child a {
        border-left: none;
      }
      li:last-child a {
        border-right: none;
      }
    }
  }

div.sm-jumbotron{
    margin: 0px;
    padding: 2rem;
    background-color: #ff8484;
    color: #fff;
}
 
button.btn-submit{
  background-color: #e67b7b;
  color: #fff;
  width: 100%;
}
button.btn-submit:focus,button.btn-submit:hover{
  background-color: #e67b7b;
}

input.ng-invalid.ng-dirty{
  border-bottom-color : #e91e63 !important;
  box-shadow: 0 1px 0 0 #e91e63 !important;
}
/*for error div i*/
div.error-message i{
  vertical-align: middle !important;
}

/*for tab control*/
.tabs{
  height: 65px;
}
.tabs .tab{
  text-transform : none !important;
  line-height: 65px;
  height: 65px;
}
.tabs .tab a{
  font-size: 25px;
  color: rgb(176, 149, 189) !important;
}

.tabs .tab a.active{
  background-color: rgb(186, 166, 199) !important;
}